$color-AuroMetalSaurus: #6B7280;
$color-Cadet-Grey: #9CA3AF;
$color-Very-Light-Malachite-Green: #5FD788;
$color-Independence: #4B5563;
$color-Black: #000000;
$color-White: #FFFFFF;
$color-Yankees-Blue: #1F2937;